<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>

    <div class="container" id="app">
        <h1 class="col-12 text-center py-2">Film Database</h1>
        <form class="row g-3 my-5">
            <div class="col-md-12">
              <label for="inputName" class="form-label">Name</label>
              <input type="name" class="form-control" placeholder="Film name" v-model="name">
            </div>
            <div class="col-md-6">
              <label for="inputGenre" class="form-label">Genre</label>
              <input type="genre" class="form-control" placeholder="Film genre" v-model="genre">
            </div>
            <div class="col-6">
              <label for="inputYear" class="form-label">Year</label>
              <input type="year" class="form-control" placeholder="Year of release" v-model="year">
            </div>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <p class="col-12 text-center">Votes:</p>
                <div class="btn-group mx-auto" role="group">
                  <button type="button" class="btn btn-primary" @click="saveVotes(1)">1</button>
                  <button type="button" class="btn btn-primary" @click="saveVotes(2)">2</button>
                  <button type="button" class="btn btn-primary" @click="saveVotes(3)">3</button>
                  <button type="button" class="btn btn-primary" @click="saveVotes(4)">4</button>
                  <button type="button" class="btn btn-primary" @click="saveVotes(5)">5</button>
                </div>
            </div>
            <div class="col-12 text-center">

                <ul class="list-group">
                    <li class="list-group-item" v-for="(item,index) in voteList" :key="index">{{item}}</li>
                    <span class="btn btn-primary" @click="getAverage">Calcola Media</span>
                    <li class="list-group-item my-3" v-if="avrVote != ''">{{avrVote}}</li>
                </ul>

            </div>
            <div class="col-6 gap-2 d-grid py-2 mx-auto">
              <p v-if="avrVote == '' ">Per salvare il film calcola prima la media dei voti</p>
              <button v-if="avrVote != ''" type="submit" class="btn btn-primary" @click="saveMovie">Save</button>
              <button class="btn btn-primary" type="button" @click="reset">Reset List</button>
            </div>
          </form>

        <ul class="list-group">
            <li class="list-group-item" v-for="(item, index) in items" :key="index">
                <ul>
                    <li><h2>Title: {{item.title}}</h2></li>
                    <li><p>Genre: {{item.genre}}</p></li>
                    <li><p>Year of release: {{item.year}}</p></li>
                    <li><p>Vote: {{item.avrVote}}</p></li>
                </ul>
            </li>
        </ul>
    </div>

    <script src="app.js"></script>
</body>
</html>